

<!-- TODO in Lab 5: Display the items on the menu with cost for each -->


<!-- Displaying number of guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->

<div>
    <div class ="bodyn">
      <div class="vansterspalt">
        <div id="guests">
          <p class="regular" id="bigger">My Dinner</p>
            <p class="regular">People </p>
              <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)"/>
        </div>
        <div id="dishname">
          <p class="regular">Dish Name<span id="v2right">Cost</span></p>
        </div>
        <div id="cash">
          <p class="titta">
            <ul style="list-style-type: none">
              <li ng-repeat="dish in menu">
              <div class='row'>
              <div class='col-md-1'><button ng-click="removeDishFromMenu(dish)"class='remove' id='"{{dish.RecipeID}}"'>X</button></div>
              <div class='col-md-4'>{{dish.Title}}</div>
              <div class='col-md-3'> {{getDishPrice(dish)}}x{{getNumberOfGuests()}}</div>
              <div class='col-md-3 ri'>{{getNumberOfGuests()*getDishPrice(dish)}}</div>
              </div>
              </li>
            </ul>
          </p>
          <p id="line1"></p>
          <p id="v2right">{{getTotalMenuPrice()}} SEK</p>

          <!-- confirm Knappen! -->

          <a href="#/overview" class="btn btn-primary" id="confirm_dinner"> Confirm Dinner</a>
        </div>
      </div>
    </div>
  </div>