<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div id="welcome_box">
       <h2 class="welcome_text" id="welcome_title">A Home Dinner Service</h2>
        <p class="welcome_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae mi urna. Nullam viverra luctus massa et luctus. Sed ut elit sagittis, aliquam leo vitae. Phasellus ultricies pellentesque egestas. Nunc ut suscipit risus. Phasellus vitae quam sit amet est scelerisque ornare id eu leo.<br><br>Start quickly</p><a href="#/search" class="btn btn-primary" id="create_new">Create new dinner</a>
     </div>

